/* Use this mixin to reset your grid by example for your mobile grid */
/* The clearfix mixin is necessary for the floats */
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box; }

html {
  font: 16px sans-serif;
  -webkit-font-size-adjust: 100%; }

body {
  line-height: 1.5em; }
  @media only screen and (min-width: 600px) {
    body {
      font-size: 17px; } }
  @media only screen and (min-width: 750px) {
    body {
      font-size: 18px; } }

p {
  margin-bottom: 1.25em; }

@media only screen and (min-width: 600px) {
  .l-full {
    float: left;
    width: 95.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media only screen and (min-width: 600px) {
  .l-two-third {
    float: left;
    width: 62.5%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media only screen and (min-width: 600px) {
  .l-half {
    float: left;
    width: 45.83333%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

@media only screen and (min-width: 600px) {
  .l-one-third {
    float: left;
    width: 29.16667%;
    margin-left: 2.08333%;
    margin-right: 2.08333%; } }

.l-first {
  clear: left; }

div.l-container {
  *zoom: 1;
  max-width: 62.5em;
  margin: auto;
  padding: 2.5em; }
  div.l-container:before, div.l-container:after {
    display: block;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    content: "."; }
  div.l-container:after {
    clear: both; }

.neutral-background {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover; }

.logo {
  float: left; }

.round-notation {
  float: right;
  color: white;
  font-size: 2em;
  padding-top: 60px; }

form {
  max-width: 500px;
  margin: 0px auto; }

input, button {
  border: 1px solid white;
  width: 100%;
  background: none;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
  font-size: 1.5em;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px; }
  input:focus, button:focus {
    outline: none; }

button {
  background-color: #52BF4E;
  border: none;
  max-width: 300px;
  display: block;
  margin: 30px auto; }
  button:hover {
    background-color: #3ea03a; }
  button.btn-red {
    background-color: #ff4d39; }

body {
  color: white;
  background: url(../img/bg.jpg) no-repeat center center fixed; }

.instruction-container {
  margin: auto;
  width: 250px; }
  .instruction-container > .winner {
    font-size: 25px;
    font-weight: bold; }

[v-cloak] {
  display: none; }

.ingredients-list {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  border-radius: 5px; }
  .ingredients-list > label {
    display: block;
    height: 100%;
    text-align: center;
    overflow: hidden; }
    .ingredients-list > label > input, .ingredients-list > label > button {
      position: absolute;
      top: -100px; }
      .ingredients-list > label > input:checked ~ span, .ingredients-list > label > button:checked ~ span {
        display: block;
        color: #ff8b1c;
        font-weight: bold;
        text-shadow: 0px 0px 20px black; }
      .ingredients-list > label > input ~ span, .ingredients-list > label > button ~ span {
        font-weight: bold; }
