form {
	max-width: 500px;
	margin: 0px auto;
}

input {
	border: 1px solid white;
	width: 100%;
	background: none;
	padding: 20px;
	margin-bottom: 10px;
	color: white;
	font-size: 1.5em;

	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;

	&:focus {
		outline: none;
	}
}

button {
	@extend input;
	background-color: $green;
	border: none;
	max-width: 300px;
	display: block;
	margin: 30px auto;

	&:hover {
		background-color: darken($green, 10%);
	}
}
