@import "core/_variables",
"core/_grid",
"shared/_backgrounds",
"shared/topbar",
"shared/_inputs",
"pages/_homepage";

.instruction-container {
  margin: auto;
  width: 250px;
}
[v-cloak] { display:none; }

.ingredients-list {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;

  > label {
    display: block;
    height: 100%;
    text-align: center;

    overflow: hidden;
    > input {
      position: absolute;
      top: -100px;
      &:checked ~ span {
        display: block;
        color: red;
        font-weight: bold;
      }
    }
  }
}